* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Just Another Hand", cursive;
    font-size: 1.1rem;
}

h1,
h1 span {
    Font-family: "Calistoga", serif;
    font-size: 2rem;
}

/* Estilos header */
header {
    background-color: #FDFDFD;
    align-items: center;
    padding-top: 0.5%;
}

.logotipo {
    padding-left: 2rem;
    width: 170px;
}


/* Estilo de nav */
.navegacion {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.menu {
    width: 40vw;
    /* padding-right: 2rem; */
    font-weight: 600;
}

ul {
    list-style: none;
    color: #B000DF;
}

.menu ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menu a,
.menu_footer a {
    text-decoration: none;
}

.menu a {
    color: #9034A9;
    border-radius: 50px;
    padding: 12px 20px;
    background-color: #ffffff;
    font-weight: 350;
}

.menu .contacto_menu {
    color: #FFFFFF;
    background-color: #6FB6AB;
    box-shadow: 3px 3px #64F6DB;
    /* padding: 10px 40px 10px 20px; */
    /* width: 500px; */
}

/* .texto_ribbon {
    font-size: 2.5rem;
    color: #6fb6ab;
}

.contenedor_ribbon {
    position: relative;
    z-index: 1;
    top: -29px;
    left: 70px;
}

.cuadrado {
    height: 20px;
    width: 20px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.triangulo {
    width: 0;
    border-left: 10px solid transparent;
    border-top: 10px solid #ffffff;
    border-right: 10px solid transparent;
} */

/* Estilo de main */
.texto_fondo_violeta {
    background: linear-gradient(to top, #FFFFFF00 15%, #B000DF 0, 70%, #FFFFFF00 0%);
}

.excel {
    font-family: "Calistoga", serif;
    font-size: 2rem;
    color: #64F6DB;
    text-shadow: 0px 0px 0px white,
        0px 0px 0px white,
        -2px 0px 0px white,
        0px -2px 0px white;
}

.main_header {
    height: 100vh;
}

.contenedor_carr {
    background-image: url(/imagenes/fondo.png);
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor_carr_texto h1 {
    color: #ffffff;
}

.imagen_pg_ppal {
    height: 40%;
}

.contenedor_frase_index {
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor_frase_index h2,
.contenedor_frase_index h2 span{
    Font-family: "Calistoga", serif;
    font-size: 1.5rem;
    color:#B000DF;
}
.texto_fondo_verde {
    background: linear-gradient(to top, #FFFFFF00 25%, #64F6DB 0, 60%, #FFFFFF00 0%);
}

.cont_frase_mot{
    width: 70%;
    font: 2.5rem;
    text-align: center;
}
.contenedor_alumnos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    background-color: #65beb1;
}

.tarjetas_alumnos {
    width: 20%;
    height: 80%;
    background-color: white;
    border-radius: 5%;
    font-size: 14px;
    box-shadow: 5px 5px 5px grey;
}

.tarjetas_alumnos img {
    width: 50%;
    border-radius: 90%;
}

@media only screen and (min-width: 1024px) {
    * {
        font-size: 1.2rem;
    }
    .imagen_pg_ppal {
        height: 70%;
    }

    h1,
    h1 span {
        font-size: 3rem;
    }

    .excel {
        font-size: 3rem;
    }
    .contenedor_carr{
        column-gap: 2%;
    }

}

/* Estilo de footer */
.contenedor_footer {
    display: flex;
    height: 20vh;
}

.contenedor_logo_redes {
    height: 80%;
}

.logo_footer {
    height: 90%;
}

.redes img {
    height: 5%;
    width: 5%;
}

/* Estilos de recursos */
.header_recursos {
    height: 10vh;
    background-color: white;
}

.titulo_recursos {
    height: 30vh;
    background-color: #65beb1;
}

.titulo_recursos h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
}

.contenedor_recursos {
    width: 50%;
}

.contenedor_recursos img {
    width: 50%;
}

.main_cursos,
.main_empresas {
    height: 80vh;
}