$fuentePpal: "Calistoga", serif;
$fuenteGeneral: "Handy Casual", "Just Another Hand", cursive;

$colorVerdeClaro: #64F6DB;
$colorVioletaClaro: #B000DF;
$colorVerdeOscuro:#65beb1;
$colorVioletaOscuro: #9034A9;

$fuenteTamaño: (1rem, 2rem, 3rem);